[Unit]
Description=The DroneD Server
Requires=private-drone.service

[Service]
Type=simple
ExecStart=/usr/share/droned/drone --config=/etc/droned/droned.conf
ExecReload=/bin/kill -HUP $MAINPID
ExecStop=/bin/kill -TERM $MAINPID
WatchdogSec=30s
StartLimitInterval=5m
StartLimitBurst=4
Restart=on-failure
KillMode=control-group

[Install]
WantedBy=multi-user.target
